.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.array-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 100px;
}

.array-bar {
  width: 5px;
  display: inline-block;
  margin: 0 1px;
}

/* ANIMATION SPEED INPUT */
.custom-slider-container {
  margin-top: 20px;
}

.custom-slider {
  width: 100%;
  background-color: #80f690;
}

.slider-container {
  position: relative;
  width: 12%;
  margin: 0 auto;
}

.slider-container .slider-label {
  display: none;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

.slider-container:hover .slider-label {
  display: block;
}
